* {
    box-sizing: border-box;
    text-align: center;
}

body {
    background-image: url(https://user-images.githubusercontent.com/54642928/70887119-fdcfc000-1fd4-11ea-823d-eac1678df835.jpg);
}

h1 {
    font-family: "Ubuntu", sans-serif;
    font-weight: bolder;
    color: #9C39BC;
}

h2 {
    font-family: 'Lora', serif;
    font-weight: normal;
    font-style: italic;
    color: #0F2636;
}

h3 {
    font-family: "Ubuntu", sans-serif;
}

input[type="button"] {
    font-family: "Ubuntu", sans-serif;
}

fieldset {
    border: 0;
}

#question-text {
    font-family: "Ubuntu", sans-serif;
    font-weight: bold; 
    font-style: italic;
    color: #9C39BC;
}

#quiz-form {
    font-family: 'Lora', serif;
    font-weight: normal;
    color: #0F2636;
}

#question-tracker, #score-tracker {
    font-family: "Ubuntu", sans-serif;
    font-weight: lighter;
    font-style: normal;
    color: #E4EFED;
    margin: 0;
}

#unanswered {
    border-width: 5px;
    border-style: inset;
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.4);
    font-weight: normal;
    font-style: italic;
    color: #EAAE12;
}

#correct {
    border-width: 5px;
    border-style: inset;
    border-color: transparent;
    background-color: rgba(0,0,0,0.4);
    font-weight: normal;
    color: #BADE37;
}

#incorrect {
    border-width: 5px;
    border-style: inset;
    border-color: transparent;
    background-color: rgba(0,0,0,0.4);
    font-weight: normal;
    color: #ff9494;
}

.above-5, .below-5 {
    font-weight: normal;
    color:#9C39BC;
}

input[type="button"]:active {
    background-color: #E1F1D0;
    box-shadow: 0 5px #0F2636;
    transform: translateY(4px);
} 

@media only screen and (min-width: 320px) {
    body {
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position-x: center;
        background-size: cover;
    }
    
    header, .main-quiz {
        background-color:rgb(20, 205, 240, 0.8);
        box-shadow: 5px 5px 5px #0F2636;
    }

    header {
        margin-top: 200px;
        border-radius: 25px;
    }

    .main-quiz {
        margin-top: 100px;
        border-radius: 25px;
    }

    h1 {
        font-size: 16pt;
    }

    h2 {
        font-size: 14pt;
    }

    #start-quiz, #restart-quiz {
        font-size: 12pt;
    }

    #quiz-form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 12pt;
    }

    #question-text {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: left;
        margin-bottom: 10px;
        font-size: 14pt;
    } 

    input[type="radio"] {
        position: relative;
        left: 5px;
        top: 18px;
      }

    #next-question, #submit-button, #show-results {
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 12pt;
    }
    
    #question-tracker, #score-tracker {
        display: flex;
        flex-direction: row;
        font-size: 12pt; 
    }

    #unanswered, #correct, #incorrect {
        margin: auto;
        margin-top: 15px;
        font-size: 12pt;
    }

    .above-5, .below-5 {
        font-size: 14pt;
    }
}

@media only screen and (min-width: 550px) {
    
    body {
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }

    header, .main-quiz {
        background-color:rgb(20, 205, 240, 0.6);
    }

    header {
        margin-top: 300px;
        border-radius: 20px;
    }

    .main-quiz {
        margin-top: 200px;
        border-radius: 20px;
    }

    h1 {
        font-size: 28pt;
    }

    h2 {
        font-size: 24pt;
    }

    #start-quiz, #restart-quiz {
        font-size: 16pt;
    }
    
    #quiz-form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 18pt;
    }

    #question-text {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        margin-bottom: 10px;
        font-size: 20pt;
    } 

    input[type="radio"] {
        position: relative;
        left: 75px;
        top: 20px;
      }

    #next-question, #submit-button, #show-results {
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 16pt;
    }
    
    #question-tracker, #score-tracker {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 14pt; 
    }

    #unanswered, #correct, #incorrect {
        margin: auto;
        margin-top: 15px;
        font-size: 16pt;
    }
    
    .above-5, .below-5 {
        font-size: 24pt;
    }
}

@media only screen and (min-width: 800px) {
    
    header {
        margin-top: 200px;
        border-radius: 90px;
    }

    .main-quiz {
        margin-top: 200px;
        border-radius: 85px;
    }

    h1 {
        font-size: 36pt;
    }

    h2 {
        font-size: 30pt;
    }

    #start-quiz, #restart-quiz {
        font-size: 18pt;
    }

    #quiz-form {
        font-size: 22pt;
    }

    #question-text {
        font-size: 26pt;
    } 

    input[type="radio"] {
        position: relative;
        left: 165px;
        top: 25px;
      }

    #next-question, #submit-button, #show-results {
        margin-top: 25px;
        margin-bottom: 25px;
        font-size: 18pt;
    }
    
    #question-tracker, #score-tracker {
        font-size: 18pt; 
    }

    #unanswered, #correct, #incorrect {
        margin: auto;
        margin-top: 15px;
        font-size: 20pt;
    }
    
    .above-5, .below-5 {
        font-size: 30pt;
    }
} 

@media only screen and (min-width: 1000px) {
    
    header {
        margin-top: 200px;
        border-radius: 70px;
    }

    .main-quiz {
        margin-top: 200px;
        border-radius: 50px;
    }

    h1 {
        font-size: 46pt;
    }

    h2 {
        font-size: 42pt;
    }

    #start-quiz, #restart-quiz {
        font-size: 20pt;
    }

    #quiz-form {
        font-size: 26pt;
    }

    #question-text {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 30pt;
        
    } 

    input[type="radio"] {
        position: relative;
        left: 230px;
        top: 25px;
      }

    #next-question, #submit-button, #show-results {
        margin-top: 35px;
        margin-bottom: 35px;
        font-size: 20pt;
    }
    
    #question-tracker, #score-tracker {
        font-size: 20pt; 
    }

    #unanswered, #correct, #incorrect {
        margin: auto;
        margin-top: 15px;
        font-size: 24pt;
    }
    
    .above-5, .below-5 {
        font-size: 42pt;
    }
} 

/* for larger computer screens */
@media only screen and (min-width: 1200px) {
    input[type="radio"] {
        position: relative;
        left: 325px;
        top: 25px;
      }
}